<h1>Support tickets</h1>
<div class="users-list-container">
  @if(authStore.userRole() != 'admin'){
  <div class="header" fxLayout="row">
    <span fxFlex="1 1 auto"></span>
    <button mat-flat-button color="primary" (click)="openAddTicketDialog()">
      <mat-icon>add</mat-icon>
      Add new ticket
    </button>
  </div>
  }

  @if(ticketsStore.loading()){
  <mat-progress-bar mode="query"></mat-progress-bar>
  }

  @if(ticketsStore.error()) {
  <mat-error>{{ticketsStore.error()}}</mat-error>
  }
  <!--<div fxLayout="row" fxLayoutAlign="space-between center" class="header">
    <span fxFlex="1 1 auto"></span>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" />
    </mat-form-field>

  </div>-->

  <table mat-table [dataSource]="ticketsStore.tickets()" class="mat-elevation-z8">
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let ticket">
        {{ticket.title}}
      </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let ticket">
        {{ticket.description}}
      </td>
    </ng-container>

    <ng-container matColumnDef="sender">
      <th mat-header-cell *matHeaderCellDef>Sender</th>
      <td mat-cell *matCellDef="let ticket">
        {{ticket.sender?.email}}
      </td>
    </ng-container>

    <ng-container matColumnDef="dateCreated">
      <th mat-header-cell *matHeaderCellDef>Date created</th>
      <td mat-cell *matCellDef="let ticket">
        {{ticket.dateCreated | date:'shortDate'}}
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let ticket">
        @if(authStore.userRole() === 'admin'){
        <mat-form-field appearance="outline" class="status-dropdown" (click)="$event.stopPropagation()">
          <mat-select [value]="ticket.status" (selectionChange)="onStatusChange(ticket, $event.value)">
            <mat-option value="active">Active</mat-option>
            <mat-option value="resolved">Resolved</mat-option>
            <mat-option value="terminated">Terminated</mat-option>
          </mat-select>
        </mat-form-field>
        } @else {
        @if(ticket.status === 'active'){
        <span class="status-active">active</span>
        }
        @if(ticket.status == 'resolved'){
        <span class="status-resolved">resolved</span>
        }
        @if(ticket.status == 'terminated'){
        <span class="status-terminated">terminated</span>
        }
        }
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="row.id ? [row.id] : null"
      [class.clickable-row]="row.id">
    </tr>
  </table>
</div>