<h1 matDialogTitle>Assign Manager to {{ stationName }}</h1>
<mat-dialog-content>
    <p class="mat-body-1">Select a manager from the list below to assign them to this station.</p>
    
    <div *ngIf="error()" class="error-message mat-error" style="padding: 10px 0;">
        <p>Error: {{ error() }}</p>
    </div>

    <mat-form-field appearance="outline">
        <mat-label>Manager</mat-label>
        @if(stationStore){
          <mat-select [formControl]="managerIdControl">
          @for(manager of stationStore.managers(); track manager) {
            <mat-option [value]="manager.id">
              {{manager.info.firstName | titlecase}} {{manager.info.lastName | titlecase}}
            </mat-option>
          }
        </mat-select>
      }
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutGap="25px">
    <span fxFlex="1 1 auto"></span>
    <button mat-button (click)="onCancel()" [disabled]="isSubmitting()">Cancel</button>
    <button 
        mat-flat-button 
        color="primary" 
        (click)="onAssign()" 
        [disabled]="managerIdControl.invalid || isSubmitting()"
    >
        <mat-progress-bar *ngIf="isSubmitting()" style="margin-right: 8px;"></mat-progress-bar>
        <span *ngIf="!isSubmitting()">Assign</span>
    </button>
</mat-dialog-actions>