<div class="dashboard-page-wrapper">

  <div class="page-header">
    <div class="title-group">
      <h1 class="page-title">Manager Dashboard</h1>
      <p>Overview of station performance</p>
    </div>
  </div>

  <section class="summary-cards-section">
    <div class="dashboard-grid-container">

      <!-- Total Revenue Card -->
      <div class="stat-card">
        <div class="stat-card-content">
          <div class="stat-text-group">
            <span class="stat-title">Total Revenue</span>
            <span class="stat-main-value color-indigo">
              &#8358;{{ totalRevenue() | number:'1.2-2' }}
            </span>
          </div>
          <mat-icon class="stat-icon color-indigo">payments</mat-icon>
        </div>
      </div>

    </div>
  </section>

  <section class="charts-section">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Weekly Estimated Sales</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-chart [chartData]="chartData" [chartType]="'bar'" title="Weekly Sales"></app-chart>
      </mat-card-content>
    </mat-card>
  </section>
</div>