<div fxFlex fxLayout="column" fxLayoutGap="15px">

  <h1>Manager Dashboard</h1>

  <div fxLayout.xs="column" fxLayout.gt-xs="row" fxLayoutGap="15px">

    <!-- dashboard card -->
    <div class="card" fxLayout="row" style="width: 100%;">
      <div fxLayout="column" fxFlex.xs="100%" fxFlex.gt-xs="50%">
        <span class="title">Today's sale</span>
        <span class="mainText">&#8358;0.00</span>
        <span> +0.0% from yesterday</span>
      </div>
      <span fxFlex="1 1 auto"></span>
      <mat-icon>
        attach_money
      </mat-icon>
    </div>

    <div class="card" fxLayout="row" fxFlex.gt-xs="50%">
      <div fxLayout="column" fxFlex.xs="100%">
        <span class="title">Fuel Pumps</span>
        <span class="mainText">4</span>
        <span> 2 active today </span>
      </div>
      <span fxFlex="1 1 auto"></span>
      <mat-icon>
        local_gas_station
      </mat-icon>
    </div>

  </div>

  <div fxLayout.xs="column" fxLayout.gt-xs="row" fxLayoutGap="15px">

    <!-- dashboard card -->
    <div class="card" fxLayout="row" style="width: 100%;">

      <div fxLayout="column" fxFlex.xs="100%" fxFlex.gt-xs="50%">
        <span class="title">Fuel stock</span>
        <span class="mainText">50.0%</span>
        <span> -0.0% from yesterday</span>
      </div>
      <span fxFlex="1 1 auto"></span>
      <mat-icon>

      </mat-icon>
    </div>

    <div class="card" fxLayout="row" fxFlex.gt-xs="50%">

      <div fxLayout="column" fxFlex.xs="100%" fxFlex.gt-xs="50%">
        <span class="title">Attendants</span>
        <span class="mainText">16</span>
        <span> 2 active today </span>
      </div>
      <span fxFlex="1 1 auto"></span>
      <mat-icon>
        person
      </mat-icon>
    </div>

  </div>

</div>
