<div class="dashboard-page-wrapper">

  <div class="page-header">
    <div class="title-group">
      <h1 class="page-title">Manager Dashboard</h1>
      <p>Overview of station performance</p>
    </div>
  </div>

  <section class="summary-cards-section">
    <div class="stats-grid">

      <!-- Total Revenue Card -->
      <div class="stat-card card-revenue">
        <div class="card-header">
          <div class="icon-circle">
            <mat-icon class="card-icon">payments</mat-icon>
          </div>
          <span class="card-title">Total Revenue</span>
        </div>
        <div class="card-content">
          <h1 class="stat-total">
            &#8358;{{ totalRevenue() | number:'1.2-2' }}
          </h1>
        </div>
      </div>

    </div>
  </section>

  <section class="charts-section">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Weekly Estimated Sales</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-chart [chartData]="chartData" [chartType]="'bar'" title="Weekly Sales"></app-chart>
      </mat-card-content>
    </mat-card>
  </section>
</div>