<div fxFlex fxLayout="column" fxLayoutGap="15px">

  <h1>Director Dashboard</h1>

  <!--Cards row 1-->
  <div style="width: 100%" fxLayout.xs="column" fxLayout.gt-xs="row" fxLayoutGap="10px">

    <div fxFlex="50%" fxLayout="column" fxLayoutGap="10px" class="card">
      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
        <mat-icon>business</mat-icon>
        <span>Stations</span>
      </div>
      <h1>0</h1>
      <div fxLayout="row" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
        <div fxLayout="row" fxLayout="5px" fxLayoutAlign="start center">
          <mat-icon>account_circle</mat-icon>
          <span>Active - 0</span>
        </div>
        <div fxLayout="row" fxLayout="5px" fxLayoutAlign="start center">
          <mat-icon>supervisor_account</mat-icon>
          <span>Suspended - 0</span>
        </div>
      </div>
    </div>

    <div fxFlex="50%" fxLayout="column" fxLayoutGap="10px" class="card">
      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
        <mat-icon>people</mat-icon>
        <span>Attendants</span>
      </div>
      <h1>0</h1>
      <div fxLayout="row" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
        <div fxLayout="row" fxLayout="5px" fxLayoutAlign="start center">
          <mat-icon>account_circle</mat-icon>
          <span>Active - 0</span>
        </div>
        <div fxLayout="row" fxLayout="5px" fxLayoutAlign="start center">
          <mat-icon>supervisor_account</mat-icon>
          <span>Suspended - 0</span>
        </div>
      </div>
    </div>

  </div>

  <!--Cards row 2-->
  <div style="width: 100%" fxLayout.xs="column" fxLayout.gt-xs="row" fxLayoutGap="10px">

    <div fxFlex="50%" fxLayout="column" fxLayoutGap="10px" class="card">
      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
        <mat-icon>assignent</mat-icon>
        <span>Refuel</span>
      </div>
      <h1>0</h1>
      <div fxLayout="row" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
        <div fxLayout="row" fxLayout="5px" fxLayoutAlign="start center">
          <!--<mat-icon>account_circle</mat-icon>
          <span>Directors - 0</span>
        </div>
        <div fxLayout="row" fxLayout="5px" fxLayoutAlign="start center">
          <mat-icon>supervisor_account</mat-icon>
          <span>Manager - 0</span>
        </div>-->
      </div>
    </div>

    <div fxFlex="50%" fxLayout="column" fxLayoutGap="10px" class="card">
      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
        <mat-icon>people</mat-icon>
        <span>Stations</span>
      </div>
      <h1>0</h1>
      <div fxLayout="row" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
        <div fxLayout="row" fxLayout="5px" fxLayoutAlign="start center">
          <mat-icon>account_circle</mat-icon>
          <span>Active - 0</span>
        </div>
        <div fxLayout="row" fxLayout="5px" fxLayoutAlign="start center">
          <mat-icon>supervisor_account</mat-icon>
          <span>Active - 0</span>
        </div>
      </div>
    </div>

  </div>

</div>

<!--<div fxFlex fxLayout="column" fxLayoutGap="15px">

  <h1>Director Dashboard</h1>
  <ul>

    <li>
      Managers
      <ul>
        <li>Total</li>
        <li>Active</li>
        <li>Suspended</li>
      </ul>
    </li>

    <li>
      Stations
      <ul>
        <li>Total</li>
        <li>Active</li>
        <li>Inactive</li>
      </ul>
    </li>



  </ul>
</div>-->
