<div fxFlex fxLayout="column" fxLayoutGap="15px">

  <h1>Admin Dashboard</h1>

  <!--Cards row 1-->
  <div style="width: 100%" fxLayout.xs="column" fxLayout.gt-xs="row" fxLayoutGap="10px">

    <div fxFlex="50%" fxLayout="column" fxLayoutGap="10px" class="card">
      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
        <mat-icon>people</mat-icon>
        <span>Users</span>
      </div>
      @if(adminStore.loading()){
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      } @else{
        <h1>{{adminStore.usersSummary().total}}</h1>
      }
      <div fxLayout="row" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
        <div fxLayout="row" fxLayout="5px" fxLayoutAlign="start space-between">
          <mat-icon>account_circle</mat-icon>
          <span class="pill">Admin - {{adminStore.usersSummary().admin}}</span>
        </div>
        <div fxLayout="row" fxLayout="5px" fxLayoutAlign="start center">
          <mat-icon>account_circle</mat-icon>
          <span class="pill">Directors - {{adminStore.usersSummary().directors}}</span>
        </div>
        <div fxLayout="row" fxLayout="5px" fxLayoutAlign="start center">
          <mat-icon>supervisor_account</mat-icon>
          <span class="pill">Managers - {{adminStore.usersSummary().managers}}</span>
        </div>
      </div>
    </div>

    <div fxFlex="50%" fxLayout="column" fxLayoutGap="10px" class="card">
      <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
        <mat-icon>people</mat-icon>
        <span>Fuel attendants</span>
      </div>
      @if(adminStore.loading()){
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      } @else{
        <h1>
          {{adminStore.attendantsSummary().total}}
        </h1>
      }
      <div fxLayout="row" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
        <div fxLayout="row" fxLayout="5px" fxLayoutAlign="start center">
          <!--<mat-icon>local_activity</mat-icon>-->
          <span class="pill">Active - {{adminStore.attendantsSummary().active}}</span>
        </div>
        <div fxLayout="row" fxLayout="5px" fxLayoutAlign="start center">
          <!-- <mat-icon>cancel</mat-icon> -->
          <span class="pill">Inactive - {{adminStore.attendantsSummary().suspended}}</span>
        </div>
      </div>
    </div>

  </div>

  <!--Cards row 2-->
  <div style="width: 100%" fxLayout.xs="column" fxLayout.gt-xs="row" fxLayoutGap="10px">

    <div fxFlex="50%" fxLayout="column" fxLayoutGap="10px" class="card">
      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
        <mat-icon>business</mat-icon>
        <span>Fuel stations</span>
      </div>
      @if(adminStore.loading()){
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      } @else{
      <h1>
        {{adminStore.stationsSummary().total}}
      </h1>
      }
      <div fxLayout="row" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
        <div fxLayout="row" fxLayout="5px" fxLayoutAlign="start center">
          <!--<mat-icon>done</mat-icon>-->
          <span class="pill">Active - {{adminStore.stationsSummary().active}}</span>
        </div>
        <div fxLayout="row" fxLayout="5px" fxLayoutAlign="start center">
          <!-- <mat-icon>cancel</mat-icon> -->
          <span class="pill">Inactive - {{adminStore.stationsSummary().inactive}}</span>
        </div>
      </div>
    </div>

    <div fxFlex="50%" fxLayout="column" fxLayoutGap="10px" class="card">
      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
        <mat-icon>help</mat-icon>
        <span>Support tickets</span>
      </div>
      @if(adminStore.loading()){
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      } @else{
      <h1>{{adminStore.ticketsSummary().total}}</h1>
      }
      <div fxLayout="row" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
        <div fxLayout="row" fxLayout="5px" fxLayoutAlign="start center">
          <mat-icon>local_activity</mat-icon>
          <span class="pill">Active - {{adminStore.ticketsSummary().active}}</span>
        </div>
        <div fxLayout="row" fxLayout="5px" fxLayoutAlign="start center">
          <mat-icon>done_all</mat-icon>
          <span class="pill">Resolved - {{adminStore.ticketsSummary().resolved}} </span>
        </div>
        <div fxLayout="row" fxLayout="5px" fxLayoutAlign="start center">
          <mat-icon>cancel</mat-icon>
          <span class="pill">Dismissed - {{adminStore.ticketsSummary().dismissed}} </span>
        </div>
    </div>

  </div>

  <div fxLayout="row" fxLayoutGap="15px">

    <!--<app-chart-host chartType="pie">
      <canvas
        baseChart
        [data]="pieChartData"
        [type]="pieChartType"
        [options]="pieChartOptions"
      >
      </canvas>

      <mat-divider style="margin: 1em 0"></mat-divider>

      <div class="button-row">
      </div>
    </app-chart-host>-->
  </div>

</div>
