.full-width {
  width: 100%;
}

textarea {
  width: 100%;
  height: 100%;
  resize: none;
}

.ticket-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.status-active {
  background-color: red;
  padding: 4px 8px;
  border-radius: 4px;
  color: white;
}

.status-resolved {
  background-color: green;
  padding: 4px 8px;
  border-radius: 4px;
  color: white;
}


.replies-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.reply-card {
  max-width: 80%;
  width: fit-content;
  min-width: 200px;
}

.reply-left {
  align-self: flex-start;
  border-bottom-left-radius: 0;
}

.reply-right {
  align-self: flex-end;
  border-bottom-right-radius: 0;
  background-color: #f5f5f5;
}

.reply-date {
  font-size: 0.75rem !important;
  color: #808080 !important;
  margin-bottom: 4px;
}