.station-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 15px;
}

.station-details {
  width: 100%;
}

.stats-container {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (min-width: 600px) {
    flex-direction: row;

    .stat-card {
      flex: 1 1 50%;
    }
  }
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
