<h1 matDialogTitle>Add New Sale</h1>

<mat-dialog-content>
  <form [formGroup]="saleForm" (ngSubmit)="onSubmit()" class="sale-form">

    <div class="row-group">
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Product</mat-label>
        <mat-select formControlName="product">
          <mat-option value="PETROL">Petrol</mat-option>
          <mat-option value="DIESEL">Diesel</mat-option>
          <mat-option value="KEROSENE">Kerosene</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Price Per Litre</mat-label>
        <input matInput formControlName="pricePerLitre" type="number">
        <span matPrefix>₦&nbsp;</span>
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Select Pump</mat-label>
      <mat-select formControlName="pumpId">
        @for (pump of pumps(); track pump.id) {
        <mat-option [value]="pump.id">
          {{ pump.name }}
        </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <div class="row-group">
      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Opening Reading</mat-label>
        <input matInput formControlName="openingMeterReading" type="number">
      </mat-form-field>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Closing Reading</mat-label>
        <input matInput formControlName="closingMeterReading" type="number">
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button matDialogClose>Cancel</button>
  <button mat-flat-button color="primary" (click)="onSubmit()" [disabled]="saleForm.invalid">Add Sale</button>
</mat-dialog-actions>