
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$green-palette,
    ),
    typography: Helvetica,
    density: -2,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}

:root {
  @include mat.card-overrides((
    elevated-container-color: #ffffff,
    elevated-container-elevation: red,
    subtitle-text-size: 10px,
    filled-container-shape: 5px,
    elevated-container-shape: 5px,
    outlined-container-shape: 5px,
  ));
}

:root {
  @include mat.button-overrides(
    (
      filled-container-shape:3px,
      outlined-container-shape: 3px,
      text-container-shape: 3px,
      protected-container-shape: 3px,
      tonal-container-shape: 3px
    )
  )
}

:root {
  @include mat.expansion-overrides((
    header-collapsed-state-height: 1,
    header-expanded-state-height: 1
  ));
}

:root {
  @include mat.toolbar-overrides((
    container-text-color: rgb(27, 71, 45),
    container-background-color: white,
  ));
}

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 12px;
}

:host {
  background: var(--mat-sys-primary-container);
  color: var(--mat-sys-on-primary-container);
  border: 1px solid var(--mat-sys-outline-variant);
  font: var(--mat-sys-body-small);
}
/**
:root {
  @include mat.button-overrides((
    filled-container-color: rgb(42, 42, 188),
    filled-label-text-color: red,
  ));

}**/

.mat-mdc-button-base {
  border-radius: 0px !important; // Adjust the radius value as needed
}

.mat-mdc-button {
  border-radius: 5px !important; // Adjust the radius value as needed
}

.mat-mdc-text-field-wrapper {
  border-radius: 5px !important; // Adjust the radius value as needed
}

.mdc-text-field--outlined .mdc-notched-outline {
  border-radius: 5px !important; // Adjust the radius value as needed
}
:root {
  @include mat.dialog-overrides((
    container-color: white,
    container-shape: rectangle
  ));

}

:root {
  @include mat.sidenav-overrides((
    container-background-color: white,
    container-shape: rectangle,
    //container-elevation-shadow: 5px 5px 5px 5px
  ));
}

:root {
  @include mat.card-overrides((
    elevated-container-color: white,
    elevated-container-shape: rectangle,
  ));
}

:root {
  @Include mat.button-overrides((
    filled-container-color: white,
    filled-label-text-color: black,
    filled-text-tracking: 0.5px,
    filled-text-transform: uppercase,
  ));
}
